In [17]:
# Load in dependencie
import pandas as pd
import numpy as np
from datetime import datetime as dt

In [18]:
# Load in file
bigfoot_csv_path = "Resources/bfro_reports_geocoded.csv"

In [19]:
# Read and display the CSV with Pandas
bigfoot_file_df = pd.read_csv(bigfoot_csv_path, header=0)
bigfoot_file_df.head()

,observed,location_details,county,state,season,title,latitude,longitude,date,number,...,moon_phase,precip_intensity,precip_probability,precip_type,pressure,summary,uv_index,visibility,wind_bearing,wind_speed
0,I was canoeing on the Sipsey river in Alabama....,NaN,Winston County,Alabama,Summer,NaN,NaN,NaN,NaN,30680.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ed L. was salmon fishing with a companion in P...,East side of Prince William Sound,Valdez-Chitina-Whittier County,Alaska,Fall,NaN,NaN,NaN,NaN,1261.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"While attending U.R.I in the Fall of 1974,I wo...","Great swamp area, Narragansett Indians",Washington County,Rhode Island,Fall,Report 6496: Bicycling student has night encou...,41.45,-71.5,1974-09-20,6496.0,...,0.16,0.0,0.0,NaN,1020.61,Foggy until afternoon.,4.0,2.75,198.0,6.92
3,"Hello, My name is Doug and though I am very re...",I would rather not have exact location (listin...,York County,Pennsylvania,Summer,NaN,NaN,NaN,NaN,8000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,It was May 1984. Two friends and I were up in ...,"Logging roads north west of Yamhill, OR, about...",Yamhill County,Oregon,Spring,NaN,NaN,NaN,NaN,703.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
# List all the columns in the table
bigfoot_file_df.columns

Index(['observed', 'location_details', 'county', 'state', 'season', 'title',
       'latitude', 'longitude', 'date', 'number', 'classification', 'geohash',
       'temperature_high', 'temperature_mid', 'temperature_low', 'dew_point',
       'humidity', 'cloud_cover', 'moon_phase', 'precip_intensity',
       'precip_probability', 'precip_type', 'pressure', 'summary', 'uv_index',
       'visibility', 'wind_bearing', 'wind_speed'],
      dtype='object')

In [21]:
# Create a new table that takes clean data
df2=bigfoot_file_df.dropna(subset=['number','county','state','latitude','longitude','date','season','classification',\
    'temperature_mid','humidity','cloud_cover','precip_intensity','visibility','pressure','wind_speed','observed'])
clean_bigfoot_df=df2.dropna().reset_index(drop=True)
clean_bigfoot_df.head()

,observed,location_details,county,state,season,title,latitude,longitude,date,number,...,moon_phase,precip_intensity,precip_probability,precip_type,pressure,summary,uv_index,visibility,wind_bearing,wind_speed
0,I was on my way to Claremont from Lebanon on R...,Close to Claremont down 120 not far from Kings...,Sullivan County,New Hampshire,Summer,Report 55269: Dawn sighting at Stevens Brook o...,43.41549,-72.33093,2016-06-07,55269.0,...,0.10,0.0010,0.70,rain,998.87,Mostly cloudy throughout the day.,6.0,9.70,262.0,0.49
1,It was August of 1977 and I had missed my ride...,"Waterloo Road, near the Sussex - Warren County...",Warren County,New Jersey,Summer,Report 49883: Recollection of a possible late ...,40.89452,-74.79077,2015-10-02,49883.0,...,0.67,0.0092,0.99,rain,1022.92,Light rain starting in the afternoon.,3.0,9.16,45.0,2.87
2,After getting online to your site we decided t...,Wayne National Forrest,Washington County,Ohio,Fall,Report 26830: Group finds possible Bigfoot tra...,39.42635,-81.37085,2009-10-31,26830.0,...,0.42,0.0158,1.00,rain,1011.48,Rain until afternoon.,3.0,1.97,189.0,3.94
3,I've told very few people this story for fear ...,In a development off RT 112 in Charlestown kno...,Washington County,Rhode Island,Summer,Report 6643: Mother and son see sasquatch clos...,41.43200,-71.65183,1978-07-15,6643.0,...,0.33,0.0285,1.00,rain,1014.70,Heavy rain in the morning and afternoon.,5.0,5.71,161.0,5.47
4,I used to own a horse boarding facility which ...,"Approximately 4 miles west of Belgrade, Montan...",Gallatin County,Montana,Summer,Report 50297: Horse boarder hears possible voc...,45.79220,-111.36370,2015-11-26,50297.0,...,0.54,0.0002,0.21,snow,1037.98,Partly cloudy in the morning.,1.0,10.00,130.0,0.40

In [ ]:
#Using drop() to delete unknown rows in season column 
clean_bigfoot_df.drop(clean_bigfoot_df[clean_bigfoot_df['season'] == 'Unknown'].index, inplace = True)
clean_bigfoot_df

In [22]:
# Columns we're interested in:
final_df = clean_bigfoot_df[['number','county','state','latitude','longitude','classification','date','season',\
    'temperature_mid','humidity','cloud_cover','precip_intensity','visibility','pressure','wind_speed','observed']]
final_df.head()

,number,county,state,latitude,longitude,classification,date,season,temperature_mid,humidity,cloud_cover,precip_intensity,visibility,pressure,wind_speed,observed
0,55269.0,Sullivan County,New Hampshire,43.41549,-72.33093,Class A,2016-06-07,Summer,64.245,0.79,0.61,0.0010,9.70,998.87,0.49,I was on my way to Claremont from Lebanon on R...
1,49883.0,Warren County,New Jersey,40.89452,-74.79077,Class B,2015-10-02,Summer,46.650,0.87,0.93,0.0092,9.16,1022.92,2.87,It was August of 1977 and I had missed my ride...
2,26830.0,Washington County,Ohio,39.42635,-81.37085,Class B,2009-10-31,Fall,51.715,0.77,0.81,0.0158,1.97,1011.48,3.94,After getting online to your site we decided t...
3,6643.0,Washington County,Rhode Island,41.43200,-71.65183,Class A,1978-07-15,Summer,65.805,0.88,0.80,0.0285,5.71,1014.70,5.47,I've told very few people this story for fear ...
4,50297.0,Gallatin County,Montana,45.79220,-111.36370,Class B,2015-11-26,Summer,12.920,0.65,0.08,0.0002,10.00,1037.98,0.40,I used to own a horse boarding facility which ...

In [23]:
#Take a look to see what types each column is
final_df.dtypes

number              float64
county               object
state                object
latitude            float64
longitude           float64
classification       object
date                 object
season               object
temperature_mid     float64
humidity            float64
cloud_cover         float64
precip_intensity    float64
visibility          float64
pressure            float64
wind_speed          float64
observed             object
dtype: object

In [24]:
#Take a look and make sure each column has the same amount of rows
final_df.count()

number              721
county              721
state               721
latitude            721
longitude           721
classification      721
date                721
season              721
temperature_mid     721
humidity            721
cloud_cover         721
precip_intensity    721
visibility          721
pressure            721
wind_speed          721
observed            721
dtype: int64

In [25]:
#Rename columns so they are easier to work with
final_df = final_df.rename(
    columns={'number':'Number','county':'County','state':'State','latitude':'Latitude',\
        'longitude':'Longitude','classification':'Classification','date':'Date','season':'Season',\
        'temperature_mid':'Temperature','humidity':'Humidity','cloud_cover':'Cloud_cover','precip_intensity':\
            'Precip_intensity','visibility':'Visibility','pressure':'Pressure','wind_speed':'Wind_speed','observed':'Observed'})
final_df.head()

,Number,County,State,Latitude,Longitude,Classification,Date,Season,Temperature,Humidity,Cloud_cover,Precip_intensity,Visibility,Pressure,Wind_speed,Observed
0,55269.0,Sullivan County,New Hampshire,43.41549,-72.33093,Class A,2016-06-07,Summer,64.245,0.79,0.61,0.0010,9.70,998.87,0.49,I was on my way to Claremont from Lebanon on R...
1,49883.0,Warren County,New Jersey,40.89452,-74.79077,Class B,2015-10-02,Summer,46.650,0.87,0.93,0.0092,9.16,1022.92,2.87,It was August of 1977 and I had missed my ride...
2,26830.0,Washington County,Ohio,39.42635,-81.37085,Class B,2009-10-31,Fall,51.715,0.77,0.81,0.0158,1.97,1011.48,3.94,After getting online to your site we decided t...
3,6643.0,Washington County,Rhode Island,41.43200,-71.65183,Class A,1978-07-15,Summer,65.805,0.88,0.80,0.0285,5.71,1014.70,5.47,I've told very few people this story for fear ...
4,50297.0,Gallatin County,Montana,45.79220,-111.36370,Class B,2015-11-26,Summer,12.920,0.65,0.08,0.0002,10.00,1037.98,0.40,I used to own a horse boarding facility which ...

In [26]:
# Change number & temperature_mid to int
# Change the rest of the columns to strings
final_df['Number'] = final_df['Number'].astype('int64')
final_df["Temperature"] = final_df['Temperature'].astype('int64')
final_df['County'] = final_df['County'].astype('string')
final_df['State'] = final_df['State'].astype('string')
final_df['Classification'] = final_df['Classification'].astype('string')
final_df['Date'] = final_df['Date'].astype('string')
final_df['Season'] = final_df['Season'].astype('string')
final_df['Observed'] = final_df['Observed'].astype('string')

final_df.head()

,Number,County,State,Latitude,Longitude,Classification,Date,Season,Temperature,Humidity,Cloud_cover,Precip_intensity,Visibility,Pressure,Wind_speed,Observed
0,55269,Sullivan County,New Hampshire,43.41549,-72.33093,Class A,2016-06-07,Summer,64,0.79,0.61,0.0010,9.70,998.87,0.49,I was on my way to Claremont from Lebanon on R...
1,49883,Warren County,New Jersey,40.89452,-74.79077,Class B,2015-10-02,Summer,46,0.87,0.93,0.0092,9.16,1022.92,2.87,It was August of 1977 and I had missed my ride...
2,26830,Washington County,Ohio,39.42635,-81.37085,Class B,2009-10-31,Fall,51,0.77,0.81,0.0158,1.97,1011.48,3.94,After getting online to your site we decided t...
3,6643,Washington County,Rhode Island,41.43200,-71.65183,Class A,1978-07-15,Summer,65,0.88,0.80,0.0285,5.71,1014.70,5.47,I've told very few people this story for fear ...
4,50297,Gallatin County,Montana,45.79220,-111.36370,Class B,2015-11-26,Summer,12,0.65,0.08,0.0002,10.00,1037.98,0.40,I used to own a horse boarding facility which ...

In [27]:
# Making sure all the data types have been changed
final_df.dtypes

Number                int64
County               string
State                string
Latitude            float64
Longitude           float64
Classification       string
Date                 string
Season               string
Temperature           int64
Humidity            float64
Cloud_cover         float64
Precip_intensity    float64
Visibility          float64
Pressure            float64
Wind_speed          float64
Observed             string
dtype: object

In [28]:
# Export Pandas DataFrame to CSV
final_df.to_csv('bigfoot_clean_file.csv', encoding='utf-8',index=False)